<div id="reg-modal">
    <div class="modal-header">
        <button type="button" class="close" ng-click="$dismiss()">&times;</button>
        <h4 class="modal-title">Skapa anmälningsformulär</h4>
    </div>
    <div class="modal-body">
        <p>
            Sportwatch Timer är ett tävlingshanteringsprogram för de flesta varvbaserade sporter. Till exempel Enduro.
        </p>
    </div>
    <div class="modal-footer">
        <button class="btn btn-default" data-dismiss="modal" ng-click="$dismiss()">Stäng</button>
    </div>
</div>