<div id="reg-modal">
    <div class="modal-header">
        <button title="Dismiss" type="button" class="close" ng-click="$dismiss()">&times;</button>
        <h4 class="modal-title">Om programmet</h4>
    </div>
    <div class="modal-body">
        <p>
            Race Watch är en tävlingshanteringsprogram för de flesta varvbaserade sporter. Till exempel Enduro och
            cyckelsport.
        </p>
    </div>
    <div class="modal-footer">
        <button title="Close" class="btn btn-default" data-dismiss="modal" ng-click="$dismiss()">Stäng</button>
    </div>
</div>